

<header>
  
    <nav class="header" id="myHeader">
  
      <div class="logo">
        <a href="/">
          <h4>Damian de Amorin</h4>
        </a>
      </div>
  
  
      <ul class="nav-link">

        <li>
            <a href="/paisajes">Paisajes</a>
        </li>
        <li>
            <a href="/retratos">Retratos</a>
        </li>
        <li>
            <a href="/contacto">Contacto</a>
        </li> 
  
  
        <li>
          <a href="/admin/login" style="font-size: 0.6rem;">/Login/</a>
        </li> 
  
  
        
        <li>
          
          <a href="https://www.instagram.com/ddeamorin/">
            <i class="fab fa-instagram-square insta"></i>
          </a>
        </li>
        
          
      </ul>
  
      <div class="burguer">
  
          <div class="linea1"></div>
          <div class="linea2"></div>
          <div class="linea3"></div>
  
      </div>
      
    </nav>

</header>