<div class="footermain" >
  <div class="contenedorfooter">
    <ul class="footer1">                

      <li>
        <a href="/contacto" style="font-size: 0.6rem;"><i class="mailfooter mail far fa-envelope"></i></a>
      </li>

      <li>
        
        <a href="https://www.instagram.com/ddeamorin/">
          <i class="fab fa-instagram-square instafooter"></i>
        </a>
      
      </li>

      <li>
        
        <a href="https://www.flickr.com/photos/photo-matic">
          <i class="fab fa-flickr instafooter"></i></i>
        </a>
      
      </li>          

        
    </ul>

  </div> 

    
  <div class="contenedorfooter">
    <div class="footer2">
      
      
      <div class="derechosdesarrollo">

        
        <a href="/admin/login" style=" margin:.5rem; font-size: 0.6rem; color: black;">/Login/</a>

      </div>


      <div class="derechosdesarrollo">   

        <i class="far fa-copyright gruacopy"></i>
        <div style="font-size: 0.6rem; margin:.5rem;">Todos los derechos reservados</div>

      </div>


      <div class="derechosdesarrollo">  
      
            
        <i class="fas fa-snowplow gruacopy" > </i>
        <div style="margin:.5rem; font-size: 0.6rem;">Desarrollado  martindeamorin@gmail.com</div>
              
      </div> 
        
    </div>
  </div>
    


<script src="/javascripts/app.js"></script>
<script src="/javascripts/lightbox-plus-jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/javascripts/mansonery.js""></script>

