<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/01-head')%>
    </head>   
    


<body>


    
    <%- include('../partials/02-header')%>
        
   
    <div class="container9">
        <div class="contact-box" data-aos="fade-up" data-aos-duration="2000">
            <div class="left leftlogin"></div>
            <div class="right">
                <% if(typeof mensaje != 'undefined'){ %>
                    <div style="background-color: red;">
                    <p style="font-weight: bold;"><%= mensaje %></p>
                    </div>

                <% }%>
                <br>
                <h2 >Ingresar</h2>
                <h3 >Ingresar a la base de datos</3>
                <br>
                <br>        
                <br>
                <form action="/admin/login" method="POST">
                <input type="email" class="field" placeholder="Coloque su e-mail" name="email">
                <br>
                <input type="password" class="field" placeholder="Coloque su contraseña" name="contrasena">
                <input type="checkbox" name='recordar' value="true"> Recordar usuario?
                
                <br>
                <br>
                <br>
                
                
                
                <button class="btn" type="submit">Ingresar</button>
            </form>

                <br>
                <br>
               

                <footer>

                    <h3>deamorindamian@gmail.com //<a href="/"> Regresar al inicio</a> </h3>               

                    

                    <br>
                    <br>


                  
                </footer>   
                
                <br>
               

            </div>


        </div>

    
    </div> 
    
    <%- include('../partials/04-footer')%>