<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/01-head')%>
    </head>
    <body>
        <%- include('../partials/02-header')%>
        <%- include('../partials/03-galeria')%>
    </body>

    <footer>
    <%- include('../partials/04-footer')%>
    </footer>
</html>




