<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/01-head')%>
    </head>
    <body>
        <%- include('../partials/02-header')%>


        <div class="contenedor">




            <div class="imagen">

                <img src="/images/DSC02997 web.jpg" class= "imgabout" gitalt="">

            </div>


            <div >
            
                <p class="texto"> <b> Damián de Amorín </b>  es un Fotógrafo y Diseñador de Imagen y Sonido, con base en Buenos Aires. Recibido en la Universidad de Buenos Aires. 
                    Su interés en la fotografía comenzó a sus veinte años y desde es momento, capitaliza esos conocimientos en distintos sectores de la industria audiovisual, habiéndose desempeñado como fotógrafo independiente, director de fotografía y compositor digital en poyectos de dibujos animados, series de televisión y publicidad.
                </p>

                <p class="texto">


                    <h3>Para colaboraciones, encargos y ventas de impresiones:</h3>
                    <h3>deamorindamian@gmail.com // +54 11 6797-4160</h3>

                </p>


                <ul class="footerabout">                

               
                    <a href="/contacto" style="font-size: 0.6rem;"><i class="mailabout mail far fa-envelope"></i></a>
                
                    <a href="https://www.instagram.com/ddeamorin/"><i class="fab fa-instagram-square instaabout"></i></a>        
               
                </ul>
          
            </div> 
             



           


           


        </div>
    </body>

    <footer>
    <%- include('../partials/04-footer')%>
    </footer>
</html>
