.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 700px, 2fr));
    grid-template-columns: repeat(auto-fit, minmax( 500px, 2fr));
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    grid-gap: 1rem;
   
    padding: 4rem;    
    justify-content: center;
   
    width: 85%;
    
}


.imgabout{
    
   max-width: 90%;
   object-fit:fill;
   justify-content: flex-end;
   
   
}


.texto{
font-family: Poppins;
font-weight: normal;
font-size: 12px;
line-height: 20px;
width: 100%;
justify-content: flex-start;
margin-top: 1rem;




/* margin-left: 1rem; */
}
   

.footerabout {

    display: flex;
    justify-content: flex-start;  
    z-index: 1; 
    align-items: center;
    margin-top: 2rem;
    
   
}


.mailabout{
    transform: scale(1.9);
    margin: 1rem;
}
    
.instaabout{
    transform: scale(1.1);
    margin: 1rem;
}

   