*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:white;
     
}

.containercarga{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3% 1%;
  
}

.containercarga:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    z-index: -2;
   
} 




.leftcarga{
    height: 100%;  
    background: url(../images/imagen-1609545194323.jpg) no-repeat center;
    background-size: cover; 

}


.contact-boxcarga{
    max-width: 800px;   
/* max-height: 100px; */
display: grid;
grid-template-columns: repeat(2, 1fr); 
justify-content: center;
align-items: center;
text-align: center;
background-color: rgb(255, 255, 255);       


}

@media screen and (max-width: 880px) {
    .contact-boxcarga{
        grid-template-columns:  1fr;
      
    }

    .leftcarga{
        display: none;
       
    }
   
}

.btn2{
   border: none;
   outline:none;
   height: 50px;
   width: 100%;
   background-color:black;
   color: white;
   border-radius: 4px;
   font-weight: bold;
   transition: .3s;
}

.btn2:hover{
    background: white;
    border: 1px solid;
    color: black;
}

center{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input[type="checkbox"]
{
position: relative;
width: 20px;
height: 10px;
-webkit-appearance: none ;
background: #c6c6c6;
outline: none;
border-radius: 5px;
box-shadow: inset 0 0 5px rgba(0, 0,0, 0.2);
/* transition: .5s; */
}


input:checked[type="checkbox"]
{
    background: #03a9f4;
    
}

input[type="checkbox"]:before
{
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   border: 0.3px solid black;
   top: 0;
   left: 0;
   background: rgb(255, 255, 255);
   transition: scale(1.1);
   transition: .5s;
   box-shadow: inset 0 2 5px rgba(0, 0,0, 0.2);
       
}

input:checked[type="checkbox"]:before{

    left: 10px;
}





