*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background:white;
     
}



.img1{
    max-width: 300px;    

}

.img2{
    max-width: 200px;    

}



.lefteditar{
    height: 100%;  
    background: url(../images/20.jpg) no-repeat center;
    background-size: cover;
    /* box-shadow:0.1em 0.2em 5em rgba(0,0,0,0.1) */

}



/* .row{
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px rgb(97, 97, 97) ;   
        
} */
.btn1{
   border: none;
   outline:none;
   height: 50px;
   width: 100%;
   background-color:black;
   color: white;
   border-radius: 4px;
   font-weight: bold;
   transition: .3s;
}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}



.containereditar{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem;
  
}

.containereditar:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    z-index: -2;
   
} 


.contact-boxeditar{
    max-width: 800px;   
/* max-height: 100px; */
display: grid;
grid-template-columns: repeat(2, 1fr); 
justify-content: center;
align-items: center;
text-align: center;
background-color: rgb(255, 255, 255);       


}

@media screen and (max-width: 880px) {
    .contact-boxeditar{
        grid-template-columns:  1fr;
      
    }

    .lefteditar{
        display: none;
       
    }
   
}