*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */

.insta{
  transform: scale(1.6);
  margin-right: 1rem;
}
.contactomail{
  transform: scale(1.6);
  margin-right: 1rem;
}


nav{  

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh; 
  background-color: rgba(255, 255, 255, 0.97);
  font-family: 'Poppins', sans-serif; 
  z-index: 1;  

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.logo{  
  color:black;   
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
   
}

a{
  text-decoration: none;
  color: black;
}


.nav-link{
display: flex;
justify-content: space-between;
width: 40%;
z-index: 1;

}


li{
  list-style: none;
  transition: 0.5s;
  
}


.nav-link a{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
    
}

.burguer div{
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
  
}
.burguer{
  display: none;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .nav-link{
      width: 60%;
  } 
  
}
@media screen and (max-width:768px) {

  body{
      overflow-x: hidden;

  }
  
  .nav-link{
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    
  }

  .nav-link li{
    opacity: 0;
    margin-bottom: 20px;
  }


  .burguer{
      display: block;
  }    
}

.nav-active{

  transform: translateX(0%);  


}

@keyframes navLinkFade{

  from{
      opacity: 0;
      transform:  translateX(50px);
    
  }

  to{
      opacity: 1;
      transform:  translateX(0px);
          
  }

}

.toggle .linea1{
  transform: rotate(-45deg) translate(-4px,4px);

}

.toggle .linea2{
  opacity: 0;  

}

.toggle .linea3{

  transform: rotate(45deg) translate(-5px,-5px);
  
}

/* NAVBAR FIN */

.insta{
  transform: scale(1.6);
}

nav{  

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh; 
  background-color: rgba(255, 255, 255, 0.97);
  font-family: 'Poppins', sans-serif; 
  z-index: 1; 
 
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  
 
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

