 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 100%;
  padding: 10px;
  
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  margin: 10px;

  /* filter: brightness(1); */
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  
  filter: brightness(1.15);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
} 